<footer class="">
    <div class="footer-links">
        <ul>
            <li> <a routerLink="/">About Us</a></li>
            <li> <a routerLink="/">Contact Us</a></li>
            <li> <a routerLink="/">Terms & Conditions</a></li>
            <li> <a routerLink="/">Privacy Policy</a></li>
            <li> <a routerLink="/">Shipping & Returns</a></li>
            <li> <a routerLink="/">FAQs</a></li>
        </ul>
    </div>
    <div class="footer-info">
        <p>&copy; 2025 Fish Company. All rights reserved.</p>
    </div>
</footer>